Columns are as follows:

hydraulic head before evaporation: m, relative to geoid
hydraulic head after evaporation: m, relative to geoid
elevation: m, relative to geoid
precipitation: m/s, lake surface only
aquifer recharge: m/s, bare surface only, function of P and E
evaporation: m/s, lake surface only
runoff: m/s, only output as discharge to lakes, function of P and E
subsurface flow: m/s

In [1]:
import os
import numpy as np
import xarray as xr
import proplot as plot 
import matplotlib.pyplot as plt
import pandas as pd

In [4]:

i = 1
for n in range(5):
    globals()["w" + str(i)] = 'dogs' ###Do what you want here
    i += 1

In [5]:
w2

'dogs'

In [6]:
#WORKS KIND OF BUT I NEED TO BE ABLE TO ORDER THE DATA

i = 1
directory = r'/Users/qjf838/Documents/SpaceData'
for filename in os.listdir(directory):
    if filename.endswith(".dat"): # or filename.endswith(".png"):
        globals()["data" + str(i)]= filename
        i += 1
    else:
        continue

In [49]:
data65

'NP_EKM0_TBS0_KP_72.dat'

In [7]:
file_list = os.listdir("/Users/qjf838/Documents/SpaceData")

#grab last 4 characters of the file name:
def last_7chars(x):
    return(x[-7:])

#sorted(file_list, key = last_7chars)

In [8]:
#This code loads in data. It does this by getting it from the directory, then looking at their last 7
#characters, and sorting them. Once it sorts them, it looks for .dat files in the code, and creates a variable
#for each 
#link to code examples here https://newbedev.com/c-python-for-loop-multiple-variables-code-example
#https://newbedev.com/how-to-iterate-over-files-in-a-given-directory
#https://stackoverflow.com/questions/37796598/how-to-sort-file-names-in-a-particular-order-using-python

file_list = os.listdir("/Users/qjf838/Documents/SpaceData")

#grab last 4 characters of the file name:
def last_7chars(x):
    return(x[-7:])

sorted(file_list, key = last_7chars)   

i = 1
directory = r'/Users/qjf838/Documents/SpaceData'
for filename in sorted(file_list, key = last_7chars):
    if filename.endswith(".dat"): # or filename.endswith(".png"):
        globals()["data" + str(i)]= pd.read_csv( filename, sep=' ', header=None, skipinitialspace=True, engine='python')
        i += 1
    else:
        continue

In [10]:
data46

              0         1        2    3    4    5    6    7
0      -937.944  -937.944 -626.765  0.0  0.0  0.0  0.0  0.0
1      -937.944  -937.944 -419.347  0.0  0.0  0.0  0.0  0.0
2      -937.956  -937.956 -232.851  0.0  0.0  0.0  0.0  0.0
3      -937.979  -937.979 -180.125  0.0  0.0  0.0  0.0  0.0
4      -938.014  -938.014 -103.454  0.0  0.0  0.0  0.0  0.0
...         ...       ...      ...  ...  ...  ...  ...  ...
66044 -1010.801 -1010.801 -537.171  0.0  0.0  0.0  0.0  0.0
66045 -1010.654 -1010.654 -578.815  0.0  0.0  0.0  0.0  0.0
66046 -1010.558 -1010.558 -635.297  0.0  0.0  0.0  0.0  0.0
66047 -1010.511 -1010.511 -566.656  0.0  0.0  0.0  0.0  0.0
66048 -1010.511 -1010.511 -681.637  0.0  0.0  0.0  0.0  0.0

[66049 rows x 8 columns]